.copy-email {
  @include fw-regular;
  @include text-medium;

  width: max-content;
  padding: 1rem;
  background: var(--input-background-color-disabled);
  color: $white-500;
  border: 1px solid var(--input-border-color);
  border-radius: $border-radius-small;

  i {
    margin-left: 1.5rem;
  }
}
