@function display-font-size($width) {
  @return calc(($width - $container-horizontal-padding-desktop * 2) / 23 * 1.66)
}

.benefit-proposition {
  width: 100%;

  font-weight: $fw-bold;
  font-size: clamp(4rem, display-font-size(100vw), display-font-size($desktop-breakpoint));
  color: $white-400;
  text-align: center;
  
  &--active {
    background: var(--gradient-dark-hero-section, linear-gradient(85deg, #52848F 2.08%, #54A986 28.65%, #2C9C6D 46.88%, #397F8E 66.15%, #2B5963 100%));

    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 500% auto;
    animation: backgroundMove 20s ease-in-out infinite alternate;
  }

  span {
    white-space: pre-line;
  }
}

@keyframes backgroundMove {
  0% {
    background-position: 0;
  }

  50% {
    background-position: 50%;
  }

  100% {
    background-position: 0;
  }
}