:root {
  #light {
    --transparent-green-button-color: #{$secondary-700};
    --button-box-shadow: 0px 2px 3px 0px rgba(46, 64, 68, 0.25);
  }

  #dark {
    --transparent-green-button-color: #{$white-200};
    --button-box-shadow: none;
  }
}

.mg-button {
  @include text-button;

  --primary-button-color: #{$white-100};

  text-align: center;
  align-self: flex-start;
  position: relative;
  box-shadow: var(--button-box-shadow);

  transition-property: background-color, color, box-shadow, transform, filter,
    letter-spacing;
  transition-duration: 0.2s;

  cursor: pointer;

  outline-width: 2px;
  outline-style: solid;
  outline-offset: 2px;
  outline-color: transparent;

  overflow: hidden;

  &--large {
    @include text-large;

    padding: 1.5rem 3rem;
  }

  &--medium {
    @include text-medium;

    padding: 1rem 2rem;
  }

  &--primary {
    background-color: $accent-500;

    color: var(--primary-button-color);

    &:focus-visible {
      outline-color: $accent-500;
    }
  }

  &--primary-green {
    background-color: $secondary-700;

    color: var(--primary-button-color);
  }

  &--transparent {
    box-shadow: none;

    text-transform: unset;

    padding-left: 0px;
    padding-right: 0px;
    background: transparent;
    color: $primary-700;

    &:focus,
    &:hover,
    &:active {
      box-shadow: none;
      text-transform: unset;
    }

    &-green {
      padding-left: 1em;
      padding-right: 1em;
      color: var(--transparent-green-button-color);
      box-shadow: none;
    }
  }

  &--secondary {
    background-color: $white-200;
    color: $white-700;
  }

  &:hover {
    color: var(--primary-button-color);

    .mg-button__overlay {
      height: 300%;
      width: 300%;
    }
  }

  &:active {
    letter-spacing: 2px;
  }

  &__overlay {
    position: absolute;
    display: block;
    border-radius: 50%;
    transition:
      width 0.4s ease-in-out,
      height 0.4s ease-in-out;
    transform: translate(-50%, -50%);
    background-color: $primary-700;
    height: 0%;
    width: 0%;
  }

  & > div {
    position: relative;
    z-index: 2;

    white-space: nowrap;
  }
}
