.sticky-header {
  animation: fadeIn 0.3s;

  position: sticky;
  top: 0;
  z-index: 5;

  background-color: var(--background-color);
  background-image: linear-gradient(
    to bottom,
    $primary-300-alpha-5,
    $primary-300-alpha-5
  );
  box-shadow: var(--header-shadow);
}

.hero-section {
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 3vh, 10rem);

  padding-top: clamp(1rem, 1.3vh, 5rem);

  &__left {
    img {
      display: block;
      margin: auto;

      max-width: 30vw;
      max-height: 30vw;
    }

    @media screen and (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  &__right {
    max-width: $desktop-breakpoint / 2;

    p {
      @include text-extra-large;
    }
  }

  &-features {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }

  &-feature {
    @include text-display;
    @include fw-medium;

    --feature-divider: 1px solid #{$primary-700-alpha-10};

    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    width: 100%;
    max-width: 25rem;
    padding-block: 2rem;

    span {
      text-align: center;
    }

    &:nth-child(n + 2) {
      border-left: var(--feature-divider);

      @media screen and (max-width: $mobile-breakpoint) {
        border-left: none;
        border-top: var(--feature-divider);
      }
    }

    &__title {
      @include text-large;
    }

    &__description {
      @include text-small;

      color: $white-500;

      ul {
        display: flex;
        gap: 1rem;
      }
    }
  }
}

.cta-container {
  display: flex;
  gap: 1rem;

  @media screen and (max-width: $tablet-breakpoint) {
    flex-wrap: wrap;
  }
}

.job-experience-section {
  @include text-large;
}

.previous-job {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  width: max-content;
  padding: 0.75rem 1.5rem;

  background: $primary-500-alpha-15;

  div {
    display: flex;
    align-items: center;
    gap: 1rem;

    width: max-content;
  }

  &__position {
    @include text-medium;
  }

  &__period {
    @include text-medium;

    color: $white-500;
  }
}

.featured-project-card {
  @include text-medium;
  @include card;

  padding: 1.75rem;

  &__row {
    display: flex;
    align-items: baseline;
    gap: 0.75rem;
  }
}

.project-role {
  @include fw-semi-bold;

  padding: 0.25rem 0.5rem;

  background: $secondary-500-alpha-15;
  color: var(--heading-color);
}

.skills-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-category {
  @include card;

  padding: 1.75rem;
  height: min-content;
}

.typewriter-overlay {
  background-color: var(--background-color);
}

.sticky-header .typewriter-overlay {
  background-image: var(--background-dark-color);
}
