@import 'colors';
@import 'typography';
@import 'variables';
@import 'mixins';

$desktop-breakpoint: 90em;
$laptop-breakpoint: 64em;
$tablet-breakpoint: 48em;
$mobile-breakpoint: 30em;

$container-horizontal-padding-desktop: 2rem;