.text-small {
  @include text-small;
}

.text-medium {
  @include text-medium;
}

.text-large {
  @include text-large;
}

.text-extra-large {
  @include text-extra-large;
}

.text-h2 {
  @include text-h2;
}

.text-h1 {
  @include text-h1;
}

.text-heading {
  @include text-heading;
}

.text-monospace {
  @include text-monospace;
}

.text-white-400 {
  color: $white-400;
}

.section-heading {
  @include text-heading;
  @include fw-semi-bold;
  @include text-h1;
}

.tag {
  @include text-medium;
  @include fw-semi-bold;

  color: $accent-500;
}

.fade-in {
  animation: fadeIn .6s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.visually-hidden {
  visibility: hidden;
}

.fade-up {
  animation: fadeUp .6s;
}

@keyframes fadeUp {
  0% { 
    opacity: 0;
    translate: 0 20%;
  }
  50% { 
    opacity: 1;
  }
  100% { 
    translate: 0 0;
  }
}

.nowrap {
  white-space: nowrap;
}

.inline-flex {
  display: inline-flex;
}

@media screen and (max-width: $mobile-breakpoint) {
  .desktop {
    display: none;
  }
}

@media screen and (min-width: $mobile-breakpoint) {
  .mobile {
    display: none;
  }
}