.mg-transparent-button {
  text-align: center;
  align-self: flex-start;
  position: relative;

  font-family: $ff-cta;
  font-weight: $fw-semi-bold;
  color: $primary-700;

  transition:
    color 0.3s ease,
    translate 0.1s ease-out;

  &:focus-visible {
    outline: 1px solid currentColor;
    outline-offset: 0.25rem;
  }

  &:hover {
    color: $white-600;
  }

  &:active {
    translate: 0 2px;
  }
}
