@import '@/styles/utility.scss';

:root {
  --font-mono: #{$ff-mono};

  #light {
    --background-color: #{$white-100};

    --font-color: #{$white-700};
    --heading-color: #{$white-600};
  }

  #dark {
    --background-color: #{$white-800};

    --font-color: #{$white-400};
    --heading-color: #{$primary-300};
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: clamp(62.5%, 1vw, 100%);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--font-color);
  background: var(--background-color);

  font-family: $ff-primary;
  font-weight: $fw-regular;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  @include text-large;
  @include fw-light;
}

html:has(#dark) {
  color-scheme: dark;
}

header, main, footer {
  position: relative;

  max-width: $desktop-breakpoint;
  padding: 0 $container-horizontal-padding-desktop;
  margin: auto;
}