

.header {
  display: flex;
  gap: 2rem;

  padding-block: 2.25rem;
}

.logo {
  img {
    object-fit: cover
  }
}

.navigation {
  @include text-medium;

  display: flex;

  flex-wrap: wrap;
  align-items: flex-end;

  color: $white-500;
  font-family: var(--font-mono);

  line-height: $lh-body;

  nav, ul {
    @include text-heading;

    display: flex;
    flex-wrap: wrap;

    white-space: pre;
    line-height: $lh-body;
    
    li {
      font-weight: $fw-medium;
    }
  }

  span {
    white-space: pre;
  }

  span, a {
    position: relative;
  }

  @media screen and (max-width: $laptop-breakpoint) {
    display: block;

    nav, ul {
      display: block;

      li {
        display: block;
        margin-left: 2ch
      }
    }
  }
}

.buttons {
  display: flex;
  gap: .5rem;

  margin-left: auto;
}