.header {
  display: flex;
  align-items: center;
  gap: 2rem;

  padding-block: clamp(1.5rem, 3vh, 2.25rem);
}

.logo {
  object-fit: cover;
  max-width: min(12vw, 3rem);
  height: min(12vw, 3rem);
  aspect-ratio: 1;
}

.navigation {
  @include text-medium;

  display: flex;

  flex-wrap: wrap;
  align-items: center;

  color: $white-500;
  font-family: var(--font-mono);
  line-height: $lh-body;

  nav,
  ul {
    @include text-heading;

    display: flex;
    flex-wrap: wrap;

    white-space: pre;
    line-height: $lh-body;

    li {
      font-weight: $fw-medium;
    }
  }

  span {
    white-space: pre;
  }

  span,
  a {
    position: relative;
  }

  @media screen and (min-width: $mobile-breakpoint) and (max-width: $laptop-breakpoint) {
    display: block;

    nav,
    ul {
      display: block;

      li {
        display: block;
        margin-left: 2ch;
      }
    }
  }
}

.buttons {
  display: flex;
  gap: 0.5rem;

  margin-left: auto;
}
