.skill {
  @include fw-medium;
  @include text-large;

  border-radius: $border-radius;
  overflow: hidden;

  margin-block: 0.5rem;

  &--active {
    background: $secondary-500-alpha-15;

    .skill__title {
      &:hover {
        background: transparent;
      }
    }
  }

  &__title {
    display: flex;
    align-items: center;

    width: max-content;
    padding: 0.5rem 0.75rem;
    border-radius: $border-radius;

    transition-duration: 0.3s;

    cursor: pointer;

    &:hover {
      background: $primary-500-alpha-15;
    }
  }

  &__body {
    padding: 0.75rem;

    p,
    span,
    li {
      @include text-medium;
    }

    li a {
      margin-right: 0.5rem;
    }
  }
}
