:root {
  --left-coordinate: 128px;
  --top-coordinate: -96px;
}

.mock-cursor {
  position: absolute;
  z-index: 11;

  left: var(--left-coordinate);
  top: var(--top-coordinate);
}

.mock-cursor-pulse {
  position: absolute;
  z-index: 10;

  left: var(--left-coordinate);
  top: var(--top-coordinate);
  width: 20px;
  height: 20px;

  border: 1px solid white;
  border-radius: 50%;

  pointer-events: none;
}

.mock-cursor-pulse::after {
  content: '';

  position: absolute;

  top: -8px;
  left: 0px;
  width: 20px;
  height: 20px;

  border: 8px solid gray;
  border-radius: 50%;

  animation: cursorAnim2 0.3s infinite alternate;
}

.expand::after {
  animation: cursorAnim3 1.5s forwards;
  border: 1px solid $accent-300;

  visibility: visible;
}

.expand-enter {
  scale: 1.75;
  translate: 20px 24px;

  &::after {
    border-color: $primary-500;
  }
}

@keyframes cursorAnim {
  from {
    scale: 1;
  }
  to {
    scale: 0.7;
  }
}

@keyframes cursorAnim2 {
  from {
    scale: 1;
  }
  to {
    scale: 0.4;
  }
}

@keyframes cursorAnim3 {
  0% {
    scale: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    scale: 5;
    opacity: 0;
  }
}

.mock-enter {
  @include text-extra-small;
  @include fw-semi-bold;

  position: absolute;
  z-index: 11;

  background: white;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(0, 0, 0, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px #999;
  color: $white-700;

  &--active {
    box-shadow: 0 1px #3a3a3a;
    translate: 0px 1px;
  }
}
